name: Build Test

on:
  push:
    branches: 
    - main 
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Checkout tools repo
      uses: actions/checkout@v2
      with:
        repository: awslabs/git-secrets
        path: git-secrets
    - name: Intall git secrets
      run: |
          cd /git-secrets
          git clone https://github.com/my_account/my_repo
          powershell -file install.ps1
          git secrets --register-aws --global
    - name: Scan the repo
      run: |
           git secrets --scan -r 
