name: Build Test

on:
  push:
    branches: 
    - main 
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    env:
      ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Checkout tools repo
      run: |
          git clone https://github.com/awslabs/git-secrets.git target
          echo "clone completed"
          cd target
          ./install.ps1
          echo "Installation completed"
          git secrets --register-aws --global
          echo "Added secrets"
          echo ${env.working-directory}
          dir
          git secrets --scan -r ../
          dir
          echo "scan completed"
